/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-nbb-basketball-stats-matches {
	.matches {
		&__title {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		&__metadata {
			padding: 10px 10px 0 0;
			display: flex;
			justify-content: end;
			margin-bottom: 10px;
			font-size: 12px;
		}

		&__table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;

			&-wrapper {
				display: block;
				overflow-y: auto;
				height: 100%;
			}

			&-header {
				padding: 10px;
				border-bottom: 1px solid;
			}

			&-row {
				height: 160px;
				border-bottom: 1px solid;
			}

			&-column {
				padding: 10px;

				&--teams {
					display: flex;
					flex-direction: column;
					gap: 20px;
				}

				&--team {
					display: flex;
					gap: 5px;

					> img {
						width: 30px;
						height: 30px;
					}

					&--away {
						flex-direction: row-reverse;

						> div {
							text-align: right;
						}
					}
				}

				&--location {
					text-align: left;
					display: block;

					> span {
						display: block;
						font-size: 0.9rem;
					}
				}

				&--date {
					text-align: left;
					display: block;

					> span {
						display: block;
					}
				}

				&--scores {
					display: flex;
					align-items: center;
					gap: 2px;
				}

				&--score {
					&--winner {
						font-weight: bold;
					}
				}
			}
		}
	}
}
