/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-nbb-basketball-stats-ranking {
	.ranking {
		&__container {
			display: flex;
			flex-direction: column;
			min-height: 400px;
			height: 400px;
			background-color: #ccc;
		}

		&__table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			border: 1px solid #000;

			&-wrapper {
				display: block;
				overflow-y: auto;
				height: 100%;
				padding: 4px;
			}

			&-header-group {
				background-color: #000;
				color: #fff;
			}

			&-header {
				padding: 10px;
				font-size: 12px;
			}

			&-column {
				border-bottom: 1px solid #000;
				text-align: center;
				padding: 10px;
				font-size: 12px;

				&:nth-child(even) {
					background-color: #f9f9f9;
				}

				&:hover {
					background-color: #f1f1f1;
				}
			}
		}
	}
}
