/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-nbb-basketball-stats-ranking {
	.ranking {
		&__container {
			min-height: 400px;
		}
	}

	.standings {
		&__table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			border: 1px solid;

			&-wrapper {
				display: block;
				overflow-y: auto;
				height: 100%;
			}

			&-header {
				padding: 10px;
			}

			&-column {
				border-bottom: 1px solid;
				text-align: center;
				padding: 4px;
			}
		}

		&__metadata {
			padding: 10px 10px 0 0;
			display: flex;
			justify-content: end;
			margin-bottom: 10px;
			font-size: 12px;
			font-style: italic;
		}
	}

	.configuration {
		&__container {
			display: flex;
			flex-direction: column;
			min-height: 400px;
			height: 400px;
			padding: 10px;
		}

		&__select {
			margin-bottom: 30px;

			&-wrapper {
				max-width: 400px;
			}
		}
	}
}
