/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-nbb-basketball-stats-ranking {
	.ranking {
		&__table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			border: 1px solid;

			&-wrapper {
				display: block;
				overflow-y: auto;
				height: 100%;
			}

			&-header {
				padding: 10px;
			}

			&-column {
				border-bottom: 1px solid;
				text-align: center;
				padding: 4px;
			}
		}
	}
}
